* {
  box-sizing: border-box; 
}
/*RESET*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {margin:0; padding:0; border:0; outline:0; font-size:100%; vertical-align:baseline; background:transparent;} body {line-height: 1;}ol, ul{list-style:none;} blockquote, q{quotes:none;} blockquote:before, blockquote:after, q:before, q:after{content:'';content:none;} :focus{outline:0;} ins{text-decoration:none;} del{text-decoration:line-through;} table{border-collapse:collapse; border-spacing:0;}

/*MAIN*/
body { 
	font-size: 1.05em;
	line-height: 1.25em;
	font-family: Helvetica Neue, Helvetica, Arial;
	background: #f9f9f9;
	color: #555;
}

header {
    background-color: papayawhip;
	width: 100%;
	height: 76px;
	position: fixed;
	top: 0;
	left: 0;
	border-bottom: 2px solid black;
	z-index: 100;

}

nav {

	float: right;
	padding: 20px;	

}

#menu-icon {

	display: hidden;
	width: 40px;
	height: 40px;
    border-radius: 4px;
	
    
}

a:hover#menu-icon {
    
	border-radius: 4px 4px 0 0;
    background-color: white;
}

ul {

	list-style: none;

}

li {
    
	float: left;
	padding: 10px
}

section {

	margin: 80px auto 40px;
	position: relative;
	padding: 20px;

}
img {
    border-radius: 8px;
    max-width: 100%;
    height: auto;
    margin: auto;
    display: block;
    margin-top: 50px;
}
h1 {
  margin-bottom: 50px;
  text-align: center;
  font: bold 2em arial, sans-serif;
}

h2 {
  font: bold 1.5em arial, sans-serif;
  color: black;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 10px;
}

.notMain {
    margin-bottom: 20px;
}    
p {
  color: black;
  padding-top: 10px;
  padding-bottom: 10px;
  font: bold 1em arial, sans-serif;
  line-height: 1.5em;
}
div {
    width: 80%;
    margin: auto;
}

video {
    border-radius: 8px;
    max-width: 100%;
    height: auto;
    margin: auto;
    display: block;
    width: 50%;
    padding-top: 50px;
}

figcaption {
    text-align: center;
    margin: auto;
    padding-bottom: 40px;
    font: bold .8em arial, sans-serif;
}


.listOnPage {
    margin-left: 70px;
    font: bold 1em arial, sans-serif;
    line-height: 1.5em;
    
}
.list {
    padding-bottom: 15px;
    list-style: disc;
}
a {
    text-decoration: none;
    color: indianred;
    font-weight: bold;
}
#navDiv {
    width: 100%;
}

#returnToTop {
  margin-right: auto;
  margin-left: auto;
    
}
#copyright {
    font: .7em arial, sans-serif;
    text-align: center;
}
.navHeader {
    margin-bottom: 20px;
}
 
#home {
    color: black;
    text-align: center;
    margin-top: 30px;
}

/*MEDIA QUERY*/
@media only screen and (max-width : 677px) {

	header {

		position: absolute;

	}

	#menu-icon {

		display:inline-block;
        border: 2px solid black;
        background: url(../images/1478372354_menu-alt.svg) no-repeat center;
        width: 40px;
	    height: 40px;
        vertical-align: middle;

	}

	nav ul, nav:active ul { 
        color: black;
		display: none;
		position: absolute;
		background: #fff;
		border: 2px solid #444;
		right: 20px;
		top: 60px;
		width: 50%;
		border-radius: 4px 0 4px 4px;

	}

	nav li {

		text-align: center;
		width: 100%;
		padding: 10px 0;
		margin: auto;
        
        border-bottom: 2px solid black;

	}

	nav:hover ul {

		display: block;

	}
    a:hover {
        color: white;
        background-color: black;
    }


/* Simple Responsive Framework. */
.row {
  width: 100%;
}

@media (min-width: 992px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;

  }
  .col-lg-1 {
    width: 8.33%;
  }
  .col-lg-2 {
    width: 16.66%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-4 {
    width: 33.33%;
  }
  .col-lg-5 {
    width: 41.66%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-7 {
    width: 58.33%;
  }
  .col-lg-8 {
    width: 66.66%;
  }
  .col-lg-9 {
    width: 74.99%;
  }
  .col-lg-10 {
    width: 83.33%;
  }
  .col-lg-11 {
    width: 91.66%;
  }
  .col-lg-12 {
    width: 100%;
  }
}

/********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: none;
    margin-top: 20px;
    
  }
  .col-md-1 {
    width: 8.33%;
  }
  .col-md-2 {
    width: 16.66%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.33%;
  }
  .col-md-5 {
    width: 41.66%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-7 {
    width: 58.33%;
  }
  .col-md-8 {
    width: 66.66%;
  }
  .col-md-9 {
    width: 74.99%;
  }
  .col-md-10 {
    width: 83.33%;
  }
  .col-md-11 {
    width: 91.66%;
  }
  .col-md-12 {
    width: 100%;
  }
}
