/*RESET*/
* {
  box-sizing: border-box; 
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {margin:0; padding:0; border:0; outline:0; font-size:100%; vertical-align:baseline; background:transparent;} body {line-height: 1;}ol, ul{list-style:none;} blockquote, q{quotes:none;} blockquote:before, blockquote:after, q:before, q:after{content:'';content:none;} :focus{outline:0;} ins{text-decoration:none;} del{text-decoration:line-through;} table{border-collapse:collapse; border-spacing:0;}

/* CSS Reset for HTML5 */
article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary{display:block;}

/* Charset Controls */
@charset "UTF-8";

/* Media Query controls */
@-moz-viewport {
  width: device-width;
  zoom: 1.0;
}
@-ms-viewport {
  width: device-width;
  zoom: 1.0;
}
@-o-viewport {
  width: device-width;
  zoom: 1.0;
}
@-webkit-viewport {
  width: device-width;
  zoom: 1.0;
}
@viewport {
  width: device-width;
  zoom: 1.0;
}

/* Background Gradiant */
div {
   background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%);
   width: 80%;
   margin: auto;
   height: 100%;
}

/* Text */

h1 {
  margin-top: 50px;
  margin-bottom: 30px;
  text-align: center;
  font: bold 2em arial, sans-serif;
}

h2 {
  font: bold 1.5em arial, sans-serif;
  color: black;
  margin-bottom: 10px;
  padding-left: 200px;
}

p {
  color: black;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 200px;
  padding-right: 200px;
  font: bold 1em arial, sans-serif;
  line-height: 1.5em;
}

body { 
	font-size: 1.05em;
	line-height: 1.25em;
	color: #555;
}

#blockquote {
    font-style: italic;
    font-weight: normal;
}

figcaption {
    text-align: center;
    margin: auto;
    padding-bottom: 40px;
    font: bold .8em arial, sans-serif;
}

.listOnPage {
    margin-left: 200px;
    margin-right: 200px;
    font: bold 1em arial, sans-serif;
    line-height: 1.5em;
    padding-bottom: 20px;
    padding-left: 50px;
   
    
}
.list {
    padding-bottom: 15px;
    list-style: disc;
}

a {
    text-decoration: none;
    color: indianred;
    font-weight: bold;
}

/* Back to Top circle */

h3 {
  border: 50px solid transparent;
  height: 0;
  width: 0;
  border-color: indianred; 
  border-radius: 50px;
  position: absolute;
  top: 97%;
  left: 48%;    
}

h3 + p {
    margin-bottom: 20px;
}

#backToTop {
   text-align: center;
    color: black;
    padding: 0px;
    margin-bottom: 50px;
    position: absolute;
    top: -18px;
    right: -10px;
}


/* Layout */

 section {
    position: relative;
	padding: 20px;
    margin-bottom: 80px;
}

h1.notMain {
    margin-bottom: 20px;
}    

.row {
  width: 100%;
}

/* Navigation */

header {
    background-color: papayawhip;
	border-bottom: 2px solid black;
    height: 120px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}

nav ul {
	padding-left: 0;
	text-align:  right;
    margin-top: 30px;
    margin-bottom: 30px;
}

nav li {
	display: inline;
    font-size: 1.3em;
}

nav ul a {
	display: inline-block;
	font-weight: bold;
	color: indianred;
	padding: .9em;
	border-radius: .5em;
	text-decoration: none;
}

nav ul a:hover,
nav ul a:focus {
	color: #000;
	background: indianred;
}

#navTitle {
    position: fixed;
    top: 30px;
    left: 5%;
    color: indianred;
    margin-top: 10px;
}
#menu-icon {
	display: hidden;
	width: 50px;
	height: 50px;
	background: url(../images/menu-alt-512.png) center;
    border-radius: 8px;
}

a:hover#menu-icon {
	border-radius: 4px 4px 0 0;
    color: black;
    background-color: indianred;
    border: 1px solid black;
}

ul {
	list-style: none;
}

a:hover {
    color: black;
}

/* Media */
img {
    border-radius: 8px;
    max-width: 100%;
    height: auto;
    margin: auto;
    display: block;
    margin-top: 50px;
}
video {
    border-radius: 8px;
    max-width: 100%;
    height: auto;
    margin: auto;
    margin-bottom: 30px;
    display: block;
    padding-top: 50px;
}

/* Footer */

#copyright {
    font: .7em arial, sans-serif;
    text-align: center;
    padding-right: 50px;
    padding-left: 50px;
}

#top {
    margin-top: 80px;
}
 
.col-lg-12 {
    width: 100%;
}


/*MEDIA QUERY*/
@media only screen and (max-width : 1100px) {

	header {
		position: fixed;

	}
    
    p {
        padding-right: 5px;
        padding-left: 5px;
    }
    
    h2 {
        padding-left: 5px;
    }
    
    .listOnPage {
        margin-left: 5px;
        margin-right: 5px;
    }
    #menu-icon {

		display:inline-block;

	}
	
    #menu-icon {
        position: absolute;
        right: 20px;
		top: 30px;
        border: 2px solid black;
        background: url(../images/1478372354_menu-alt.svg) no-repeat center;
        width: 60px;
	    height: 60px;
        vertical-align: middle;
        background-color: whitesmoke;

	} 
    nav ul, nav:active ul { 
		display: none;
		position: absolute;
		background: #fff;
		border: 3px solid #444;
		right: 20px;
		top: 60px;
		width: 50%;
		border-radius: 4px 0 4px 4px;
        overflow: hidden;
	}

	nav li {
        display: block;
		text-align: center;
		width: 100%;
		margin: 0;
        border-bottom: 2px solid black;
	}
    
	nav:hover ul {
        border-radius: 0;
		display: block;
        transition: background-color .4s, color 0s .1s;
	}
    
    nav ul a {
        display: inline-block;
        font-weight: bold;
        color: indianred;
        text-decoration: none;
        border-radius: 0;
        height: 100%;
        width: 100%;
        
   }
    
    
    .col-sm-12 {
        width: 90%;
    }
    
    h3 {
        left: 42%;
    }
    
    video {
        width: 100%;
    }
    
    
}

@media (min-width: 1099px) and (max-width : 1400px) {
    p {
        padding-right: 100px;
        padding-left: 100px;
    }
    
    h2 {
        padding-left: 100px;
        
    }
    
    .listOnPage {
        
        margin-left: 100px;
        margin-right: 100px;
    }
    
}
    

